In [1]:
a=10

In [2]:
a=c

NameError: name 'c' is not defined

In [3]:
a='c'

In [4]:
type(a)

str

In [5]:
int()

0

In [6]:
age=24

In [8]:
print("my age is:",age)

my age is: 24

In [9]:
age=24

In [10]:
print("my age is:{age}")

my age is:{age}

In [11]:
print(f"my age is:{age}")

my age is:24

In [13]:
name="gope"
age=24

In [15]:
print("my name is {} and age is {}".format(name,age))

my name is gope and age is 24

In [16]:
name="gope"
age=24
degree="BTECH"

In [ ]:
print("my age is {} and i have completed: my degree of {} with the name of {}".format(age,BTECH,gope))

In [20]:
name="gope"
age=24
degree="BTECH"

In [22]:
print("my age is {} and i have completed: my degree of {} with the name of {}".format(age,BTECH,gope))

NameError: name 'BTECH' is not defined

In [23]:
name="gope"
age=24
degree="BTECH"

In [25]:
print("my age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

my age is 24 and i have completed: my degree of BTECH with the name of gope

In [32]:
age=19
if age>=18:
    print("you are eligible to vote")

you are eligible to vote

In [28]:
12>=18

False

In [33]:
name=input("enter your name")

enter your name gope

In [34]:
name

'gope'

In [35]:
age=int(input("enter your age"))

enter your age 24

In [36]:
age

24

In [37]:
type(age)

int

In [39]:
age=int(input("Enter your age "))
if age>=18 and age<=45:
    print("you are a young blood")

Enter your age  25

you are a young blood

In [41]:
bolean=int(1))

SyntaxError: unmatched ')' (2111958983.py, line 1)

In [42]:
int=bolean(1)

NameError: name 'bolean' is not defined

In [43]:
bool(1)

True

In [44]:
int(true)

NameError: name 'true' is not defined

In [7]:
age=int(input("enter your age"))
if age>=18 and age<=45:
    print("you are a young blood")
else:
     print("thank you, your application got rejected")

enter your age 12

thank you, your application got rejected

In [13]:
productprice=int(input("enter the product price"))
if productprice>1000:
    print("New product price is {}".format(productprice*0.8))
else:
    print("New product price is {}".format(productprice*0.7))

enter the product price 399

New product price is 279.29999999999995

In [24]:
productprice=int(input("enter the product price"))
if productprice>3000:
    if productprice==4999:
        print("you get a goa trip")
    print("New product price is {}".format(productprice*0.8))
elif productprice>=2000 and productprice<=3000:
    if productprice==2699:
        print("canratulations")
    print("New product price is {}".format(productprice*0.7))
elif productprice>=100 and productprice<=2000:
    print("New product price is {}".format(productprice*0.6))
else:
    print("Drink water")

enter the product price 4999

you get a goa trip
New product price is 3999.2000000000003

In [3]:
#while loop
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("Sorry its time to retire")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Sorry its time to retire

In [5]:
#while condition of atm money
Money=1000
while Money!=0:
    Money=Money-100
    print(Money)
else:
    print("paisa bharo bank waalo")

900
800
700
600
500
400
300
200
100
0
paisa bharo bank waalo

###For LOOP

In [8]:
Fruit_list = ["apple","cherry","orane","grape"]

In [12]:
for a in Fruit_list:
    print(a)
    if a=="cherry":
         print("the fruit is cherry")

apple
cherry
the fruit is cherry
orane
grape

In [17]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [18]:
fruit[1]

'a'

In [19]:
fruit[4]

'o'

In [28]:
#Nested loop in range function
n=7
for i in range(0,n):
    for j in range(0,0+i):
        print("*",end='')
    print("\r")

*
**
***
****
*****
******

In [33]:
#Loop controls
#break and continue
fruit_list=["cherry","orange","apple","banana","grapes"]
for i in fruit_list:
    if i=="apple":
        print("the fruit is apple")
        pass
    print(i)

cherry
orange
the fruit is apple
apple
banana
grapes